@import '~@fluentui/react/dist/sass/References.scss';

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}


.cards {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
.wrapper{
  display: flex;
  flex-direction: row;
  // width: 100%;
  // height: auto;
}
.CRM_card{
width:40%;
height: 188px !important;
border-radius: 7px !important;
border-top: 7px solid #EA881A !important;
// text-align: center;
float: left;
box-shadow: 0px 1.939px 4.362px 0px rgba(0, 0, 0, 0.13), 2px 2px 9.8px 0px rgba(0, 0, 0, 0.10);
}

.TCRM_card{
  width: 58%;
  height: 188px !important;
  border-radius: 7px !important;
  border-top: 7px solid #3A86FF !important;
  float:left;
  }

  .Text {
    color: var(--neutralDark, #323130);
    font-family: Segoe UI;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.782px;
    /* 89.437% */
    letter-spacing: 0.606px;
    margin: 0;
  } 

  .CRM_logo{
    width: 28px !important;
    margin: 15px !important;
  }

  .Caption {
    color: #989898;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Segoe UI;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 170.742% */
    letter-spacing: -0.182px;
    margin: 0;
  }

  .CrmTicketbutton {
    width: 72px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #E8E8E8;
    color: #6F6F6F !important;
    font-size: 13.329px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    /* 0% */
    letter-spacing: 0.303px;
    margin-top: 10px !important;
  }

  .TCRM_logo{
    width: 28px !important;
    margin: 15px !important;
  }
  .TCRM_column{
    display: flex;
    height: 180px;
  }